<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<h1>Tourist Information</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Price</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Recommended age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction :${listAll}">
        <td th:text="${attraction.getAttrName()}"></td>
        <td th:text="${attraction.getCity()}"></td>
        <td th:text="${attraction.getPrice()}"></td>
        <td th:text="${attraction.getLongitude()}"></td>
        <td th:text="${attraction.getLatitude()}"></td>
        <td th:text="${attraction.getCategory()}"></td>
        <td th:text="${attraction.getDuration()}"></td>
        <td th:text="${attraction.getRecommendedAge()}"></td>
    </tr>
    </tbody>
</table>


<h2>Add Attraction</h2>
<div>
    <form method="post" action="/add">
        <div>
            <label for="attrName">Name:</label>
            <input id="attrName" type="text" name="attrName" th:value="${oldName} ? ${oldName} : ''">
        </div>
        <div>
            <label for="city">City:</label>
            <input id="city" type="text" name="city" th:value="${oldCity} ? ${oldCity} : ''">
        </div>
        <div>
            <label for="price">Price:</label>
            <input id="price" type="text" name="price" th:value="${oldPrice} ? ${oldPrice} : ''">
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input id="longitude" type="text" name="longitude" th:value="${oldLongitude} ? ${oldLongitude} : ''">
        </div>
        <div>
            <label for="latitude">Latitude:</label>
            <input id="latitude" type="text" name="latitude" th:value="${oldLatitude} ? ${oldLatitude} : ''">
        </div>
        <div>
            <label for="duration">Duration:</label>
            <input id="duration" type="text" name="duration" th:value="${oldDuration} ? ${oldDuration} : ''">
        </div>
        <div>
            <label for="recommendedAge">Recommended age:</label>
            <input id="recommendedAge" type="text" name="recommendedAge" th:value="${oldRecommendedAge} ? ${oldRecommendedAge} : ''">
        </div>
        <div>
            <label for="category">Category:</label>
            <input id="category" type="text" name="category" th:value="${oldCategory} ? ${oldCategory} : ''">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>


    </form>


</div>

</body>
</html>